<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../pag_inicial.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <title>Document</title>
</head>
<body>
    <div class="container">
        {{#erro}}
      <div class="alert alert-danger alert-dismissible">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
        ></button>
        <strong>{{erro}}</strong> Não foi possivel realizar o deposito.
      </div>
      {{/erro}}
        <div class="row align-items-center">
            <img src="../../../logo.png" alt="Logo da Empresa" class="img-fluid logo">
            <img src="../../../logo_nome.png" class="img-fluid logo" alt="">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="container bg-white overflow-auto">
        <div class="row align-items-center">
            <div class="mt-5">
            {{#conta}}
                <div class="card border-0" style="width:400px">
                    <img class="card-img-top" src="../../../usuario.png" alt="Card image" style="width:100%">
                    <div class="card-body pt-2">
                      <h3 class="card-title" style="font-family: 'Metal Mania', cursive;">{{Responsavel}}</h3>
                      <p class="card-text">Nome da conta: {{nome}}</p>
                      <p class="card-text">Numero da conta: {{numero}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 card border-0 flex-row mx-auto px-0">
                <div class="m-5">
                        <div class="d-flex justify-content-center">
                            <form method="post" action="/conta/deposito">
                                <div class="row">
                                    <div class="col">
                                        <label class="form-label mt-2" for="nome">Valor para Deposito:</label>
                                        <input type="text" id="input_valor" class="form-control" name="input_valor" />
                                    </div>
                                </div>
                            <div class="d-grid mt-5">
                                <button type="submit" class="btn btn-primary btn-block">Depositar</button>
                            </div>
                            <div class="d-grid mt-3">
                                <a href="/conta/movimentar/{{id}}" class="btn btn-danger btn-block">Voltar</a>
                            </div>
                            </form>
                        </div>
                    {{/conta}}
                </div>

            </div>
        </div>
    </div>
</body>
</html>